.container {
  margin: 5em auto;
  text-align: center;
}

.container h5 {
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px; 
  margin: 10px; 
}