/* Navbar.module.css */

.navbarContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #bd0808;
    border-bottom: 1px solid #ddd;
  }
  
  .navbarTitle {
    margin-right: auto;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .navbarLink {
    margin-right: 10px;
    color: #b81d1d;
    text-decoration: none;
  }
  
  .navbarLink:hover {
    text-decoration: underline;
  }
  
  .avatarButton {
    margin-left: 10px;
  }
  
  .avatarIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .menuItems {
    overflow: visible;
  }
  
  .menuItem {
    padding: 8px 16px;
  }
  
  .menuItemIcon {
    margin-right: 8px;
    font-size: 20px;
  }
  