@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Poppins&display=swap');

:root {
  --primary-color: #01333e;
  --secondary-color: #fde8c9;
}

body {
  margin: 0;
  background-image: url('./assets/img/bg-small.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
