@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Poppins&display=swap');

:root {
  --primary-color: #01333e;
  --secondary-color: #fde8c9;
}
body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Yeseva One', cursive; 
}
